body{
	background-color:  black;
}

#caja1{
	padding-top:5;
	text-align: center;
	width:236px;
	height: 30px;
	border-radius: 2px;
	border: 5px, white;
	background-color: white;
}

#caja2{
	width:236px;
	height: 30px;
	border-radius: 2px;
	border: 5px, white;
	background-color: blue;
}


